*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neun';
 
}
html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100%;
  width: 100vw;
  background-color:  #111;;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}

.card{
  height: 330px;
  width: 300px;
  background-color: #ffff;
  border-radius: 25px;
  margin: 20px ;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display:  flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
}

.top img{
  height: 50px;
  width: 50px;
  border: 1px solid rgba(123, 123, 123, 0.559);
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
}

.top button{
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(195, 195, 195, 0.722);
  border-radius: 8px;
  background-color: transparent;
}

.center{
  line-height: 30px;
}

.center span{
  color: gray;
  font-size: small;
  font-weight: 300;
}

.center .boxes{
  display: flex;
  gap: 10px;
  text-align: center;
  
}
.center .boxes h5{
  padding: 3px 8px ;
  background-color: #b8b7b750;
  border: none;
  border-radius: 5px;
  font-weight: 400;
}

.center h3{
  font-size: 20px;
  font-weight: 400;
}
.center h2{
  font-size: 25px;
  font-weight: 600;
}


.bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(136, 135, 136, 0.464);
  padding-top: 15px;
}
.bottom button{
  height: 30px;
  width: 100px;
  color: white;
  background-color: #111;
  border: none;
  border-radius: 5px;
}

.bottom p{
  color: rgba(101, 99, 99, 0.668);
  font-size: 12px;
  font-weight: 200;
}